:root{
    --yellow:#F7CA3E;
}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


.text{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 240px;
  
}


*::selection{
    background:var(--yellow);
    color:#fff;
}

html{
    font-size:62.5%;
    overflow-x:hidden ;
}

body{
    overflow-x:hidden ;
    height: 200rem;
}


html::-webkit-scrollbar{
    width:1.4rem;
}



html::-webkit-scrollbar-track{
    background: #333;
}


html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}
section{
  min-height: 100vh;
  padding:1rem 10px;
  padding-top: 8.5rem;
}

.btn{
    font-size: 1.7rem;
    padding:.7rem 4rem;
    border-radius: 5rem;
    margin-top: 5rem;
    background: none;
    color:#333;
    cursor: pointer;
    border:.2rem solid var(--yellow);
}




header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    padding: 1.5rem 10%;
    box-shadow:0 .3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.logo img{
height:5rem;
}

header .narbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none ;
}

header .narbar ul li{
    margin-left:3rem;
} 

header .narbar ul li a{
    font-size: 1.7rem;
    color:#666;
}
header .narbar ul li a.active,
header .narbar ul li a:hover{
    color:var(--yellow);

}

header.menu-bar{
font-size: 3rem;
color:#666;
cursor: pointer;
display: none;
}







@media(max-width:768px){

    html{
        font-size: 55%;
    }


header #menu-bar{
    display:block;
}

 header .narbar{
     position:fixed;
     top:8rem; left:0;
     width: 100%;
     background:var(--yellow);
     border-top:.2rem solid rgba(0,0,0,1);
    transform-origin:top ;
    transform: scale(0);
    opacity: 0;
    }
    header .narbar ul{
        flex-flow: column;
        padding: 2rem;
    }

    header .narbar ul li{
        margin: 1.5rem;
        width: 100%;
    }

    header .narbar ul li a{
        display: block;
        color: black;
        color: #fff;
        padding-left: 2rem;
        border-left: .2rem solid #fff;
        font-size: 2rem;
    }
    header .narbar ul li a:hover,
    header .narbar ul li a.active{
        color:#333;
        border-color:#333
    }
    .fa-times{
        transform: rotate(180deg);
    }
    header .narbar.nav-toggle{
        transform: scale(1);
        opacity: 1;
    }
}


.home{
display: flex;
align-items:center;
justify-content: center;
flex-wrap:wrap;
position: relative;
z-index: 0;
overflow: hidden;
}


.home.image{
flex: 1 1 39rem;
}

.home.image img{
    width:100%;
}


.home.content{
    flex: 1 1 39rem;
    }

.home .content h3{
    color:#333;
    font-size: 6rem;
}


.home .content p{
    color: #333;
    font-size: 2rem;
    padding:1rem 0 ;
}