:root{
    --yellow:#F7CA3E;
}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


.text{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 200px;
  
}


*::selection{
    background:var(--yellow);
    color:#fff;
}

html{
    font-size:65%;
    overflow-x:hidden ;
}




html::-webkit-scrollbar{
    width:1.4rem;
}



html::-webkit-scrollbar-track{
    background: #333;
}


html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}
section{
  min-height: 100vh;
  padding:1rem 10px;
  padding-top: 8.5rem;
}

.btn{
    font-size: 1.5rem;
    padding:.7rem 4rem;
    border-radius: 5rem;
    margin-top: 5rem;
    background: none;
    color:#333;
    cursor: pointer;
    border: 0.2rem solid var(--yellow);
}

.btn:hover{
    background: #F7CA3E;
}

.heading{
    text-align: center;
    font-size: 4rem;
    padding: 4rem;
    color: #333;
}

.heading span{
    color: var(--yellow);
   
}


header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    padding: 1.5rem 10%;
    box-shadow:0 .3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.logo img{
height:5rem;
}

header .narbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none ;
}

header .narbar ul li{
    margin-left:3rem;
} 

header .narbar ul li a{
    font-size: 1.7rem;
    color:#666;
}
header .narbar ul li a.active,
header .narbar ul li a:hover{
    color:var(--yellow);

}

header.menu-bar{
font-size: 3rem;
color:#666;
cursor: pointer;
display: none;
}


.Mune .list{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding:1rem 0;
    margin: 2rem 0;
    border-top: .3rem dashed rgba(0, 0, 0, .2);
    border-bottom: .3rem dashed rgba(0, 0, 0, .2);
}

.Mune .list .btn{
margin: 1rem;
}




.Mune .list .btn.active,
.Mune .list .btn:hover{
color: #fff;
background: var(--yellow);
}


.Mune .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;   
}


.Mune .row .image{
    margin: 2rem;
   flex: 1 1 4rem;
   border-radius: 1rem;
   box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);

}


.Mune .row .image img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.Mune .row .content{
    flex:1 1 40rem;
}


.Mune .row .content .info{
    padding: 1rem 0 ;
}


.Mune .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    color:#333;
}

.Mune .row .content .info h3 span{
    padding-right: 1rem;
    color:var(--yellow);
}


.Mune .row .content .info p{
  padding: 1rem 0 ;
  padding-left: 4.5rem;
  font-size: 1.5rem;
  color:#666;

}




.puplor .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  
}

.puplor .box-container .box{
    background: #fff;
    width: 35rem;
    padding:2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0.3rem .5rem rgba(0,0,0,.2);
    text-align: center;
   
}


.puplor .box-container .box img{
    height: 20rem;
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;

}

.puplor .box-container .box h3{
    color: #333;
    font-size: 3rem;
    font-weight: normal;

}

.checked{
    color: var(--yellow);

}

.puplor .box-container .box .price{
    color: #666;
    font-size: 2.5rem;

}

.puplor .box-container .box:hover{
    transform: scale(1.02);
    box-shadow:0 .3rem .5rem rgb(0,0,0,.2) ;
}




.gallary .box-container{
display: flex;
text-align: center;
justify-content: center;
flex-wrap: wrap;

}

.gallary .box-container .box{
    height: 20rem;
    width: 30rem;
    margin: 2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}


.gallary .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3rem;
}



.gallary .box-container .box h3{
    position:absolute;
    top:100%; left:50;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    font-size: 3rem;
    opacity: 0;
}
.gallary .box-container .box:hover h3{
    top: 50%;
    opacity: 1;
    transition-delay: 2s;
}



.gallary .box-container .box ::before{
    content: '';
    position: absolute;
    top:-100; left:0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    transition: 2s linear;
}

.gallary .box-container .box:hover::before{
    top:0;
}




@media (max-width){
    html{
        font-size: 55%;
    }
    
}
    


@media(max-width:768px){


header #menu-bar{
    display:block;
}

 header .narbar{
     position:fixed;
     top:8rem; left:0;
     width: 100%;
     background:var(--yellow);
     border-top:.2rem solid rgba(0,0,0,1);
    transform-origin:top ;
    transform: scale(0);
    opacity: 0;
    }
    header .narbar ul{
        flex-flow: column;
        padding: 2rem;
    }

    header .narbar ul li{
        margin: 1.5rem;
        width: 100%;
    }

    header .narbar ul li a{
        display: block;
        color: black;
        color: #fff;
        padding-left: 2rem;
        border-left: .2rem solid #fff;
        font-size: 2rem;
    }
    header .narbar ul li a:hover,
    header .narbar ul li a.active{
        color:#333;
        border-color:#333
    }
    .fa-times{
        transform: rotate(180deg);
    }
    header .narbar.nav-toggle{
        transform: scale(1);
        opacity: 1;
    }
}


.home{
display: flex;
align-items:center;
justify-content: center;
flex-wrap:wrap;
position: relative;
z-index: 0;
overflow: hidden;
}

.home::before,
.home::after{
    position: absolute;
    content: '';
    top: 5rem; right:-6rem;
    background:var(--yellow);
    border-radius: 3rem;
    transform: rotate(45deg);
    height: 30rem;
    width: 50rem;
    z-index: -2rem;
    animation: animte 1s linear 1;
}


@keyframes animte {
    0%{
    transform:rotate(-45deg) translateY(-40px);

   }
 }


 .home::before{
     top: 7px;
     background: #fff;
     box-shadow: 0rem 1rem 4rem rgb(0, 0, 0, 1);
     z-index: -1;

 }


.home.image{
flex: 1 1 39rem;
}

.home.image img{
    width:100%;
}

.about{
    display: flex;
    color: #666;
    padding: 1rem;
    justify-content: center;
    font-size: 2rem; 
}

.about .image{
    flex:1 1 40rem;
    height: 50rem;
    background-image: url("pexel0.jpg");
    background-position: center;
    background-blend-mode:screen;
    background-size: cover;
    border-radius: 2rem; 

}

.about .content{
    flex:1 1 40rem;
    padding: 2rem;
} 

.about .content h3{
    font-size: 2rem;
    color:#333;
}




section{
    padding: 1rem 5%;
    padding-top: 8.5rem;
}


.order{
    background: url(bgorder.jpg) no-repeast;
    background-position:center;
    background-size: cover;

}



.order .row{
    display: flex;
background: #fff;
margin:2rem 0;
overflow: hidden;
box-shadow:0 .5rem 1rem rgba(0, 0, 0, .3) ;
border-radius: 3rem;
}

.order .row image{
    flex:1 1 40% ;

}

.order .row form{
    flex:1 1 60% ;
    background:#fff;
    padding: 2rem;
    
}
.order .row form .box{
    padding: 1rem;
    margin: 1rem 0;
    color: #333;
    font-size: 1.5rem;
    text-transform: none;
    background: #f0f0f0;
    width: 100%;

}


.order .row form .box ::placeholder{
    text-transform:capitalize;
}

.order .row form .address{
    height: 15rem;
    resize: 15rem;
}